<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a (click)="onEditRecipe()">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="container">
      <h2>Ingredients</h2>
      <p>These are the ingredients of the recipe :</p>
      <div class="col-xs-10">

        <div class="container">
          <div class="row">
            <div class="col-5">
              <input type="text" [(ngModel)]="searchedIngredient" (input)="onSearch()">&nbsp;

              <select class="list-group" [(ngModel)]="selectedItem">
                <option>Ingredient</option>
                <option>Amount</option>
              </select>

            </div>

          </div>
        </div>
        <hr>
        <table class="table table-hover table-condensed table-striped table-bordered">

          <thead>
            <tr>
              <th>name</th>
              <th>amount</th>
            </tr>
          </thead>

          <tbody *ngFor="let ingredient of recipe.ingredients">
            <tr>
              <td>{{ingredient.name}}</td>
              <td>{{ ingredient.amount}} gr</td>
            </tr>
          </tbody>


        </table>
      </div>

    </div>
  </div>
</div>