<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click) = "onNewRecipe()" >New Recipe</button>
    <button class="btn btn-danger" (click) = "onClearList()" >Clear</button>
    <div class="col-xs-5"> <input type="text" [(ngModel)] ="searchValue" class="form-control" id="search"> </div>
    
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeEl of recipes | search:searchValue;  let i = index" 
      [recipe]="recipeEl"
      [index]="i"
      (recipeSelected)="onRecipeSelected(recipeEl)"></app-recipe-item>
  </div>
</div>

